/* ---------- General ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* * {
  color: #111;
} */

body {
  background-color: #dceae8;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=number],
input[type=checkbox],
input[type=submit],
input[type=button] {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}

button, input[type=submit] {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: 1px solid #dedede;
  border-radius: 4px;
}

button:hover, input[type=submit]:hover {
  background-color: #45a049;
}

/* ---------- Header ---------- */
header {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
}

.navbar-brand {
  font-weight: 700;
}

nav {
  display: block;
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display:inline;
  padding: 0.8em;
}

nav ul a {
  color: greenyellow;
  list-style-type: none;
  display:inline;
}

nav ul a:hover {
  color: #fff;
}

/* ---------- Content ---------- */
main {
  padding: 1em;
}

.alert-danger {
  padding: 10px;
  background-color: red;
  color: #fff;
}

.alert-success {
  padding: 10px;
  background-color: green;
  color: #fff;
}

/* ---------- Footer ---------- */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #111;
  color: #fff !important;
  text-align: center;
}

footer a {
  color: greenyellow;
}
