<h1>Delete Snippet</h1>
<form class="delete-form" method="post" action="./snippets/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <label class="form-label" for="titleInput">
    Title
  </label>
  <input type="text" class="form-control" id="descriptionInput"
    placeholder="Update snippet description here" value="<%= viewData?.title %>"
    disabled />
  <label class="form-label" for="descriptionInput">
    Description
  </label>
  <textarea class="form-control" id="descriptionInput"
    placeholder="Update snippet description here" disabled rows="6" cols="50"><%= viewData?.description %></textarea><br>
  <button type="submit" class="btn btn-primary" autofocus="autofocus">Delete</button>
</form>